//begin footer
+b.FOOTER.footer
	+e.container.container._footer
		+e.P.text Аспирант © 2018. Все права защищены
		+b.contact-block._footer
			+e.social-links
				+e.A.social-link(href='#!' target='_blank') Telegram
				+e.A.social-link(href='#!' target='_blank') Viber
				+e.A.social-link(href='#!' target='_blank') Whatsapp

			+e.A.link(href='tel:+79220390969')
				+i('tel')
				| +7 922 039 09 69
			+e.A.link(href='mailto:info@shl-testing.ru')
				+i('mail')
				| info@shl-testing.ru
			+e.social-icons
				+e.A.social-icon(href='#!' target='_blank')
					+i('vk')
				+e.A.social-icon(href='#!' target='_blank')
					+i('yt')
//end footer
