//begin header
+b.HEADER.header(class= headerClass)
	+e.contact
		+e.contact-container.container
			+b.contact-block
				+e.A.link(href='tel:+7 922 039 09 69')
					+i('tel')
					| +7 922 039 09 69
				+e.social
					+e.A.social-link(href='#!' target='_blank') Telegram
					+e.A.social-link(href='#!' target='_blank') Viber
					+e.A.social-link(href='#!' target='_blank') Whatsapp
					+e.A.social-link(href='#!' target='_blank')
						+i('vk')
					+e.A.social-link(href='#!' target='_blank')
						+i('yt')
				+e.A.link(href='mailto:info@shl-testing.ru')
					+i('mail')
					| info@shl-testing.ru
				+btn('b', 'Написать нам', '_type-1')

	+e.line
		+e.line-container.container
			+e.A.logo(href='#!')
				+e.IMG.logo-img(src='img/other/logo.png' alt='Аспирант')
				+e.H1.logo-title Аспирант
			+e.NAV.nav
				-
					navList = [
					'О нас',
					'Услуги и цены',
					'Как мы работаем',
					'Обучение',
					'Отзывы',
					'Контакты'
					]
				+e.UL.nav-list
					for navLink in navList
						li: a(href='#!')
							span= navLink
							span= navLink

			+e.BUTTON.nav-btn(type='button')
				+e.SPAN.nav-btn-burger
					+e.SPAN.nav-btn-lines
//end header
