.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-left-quote {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.icon-sld-arr-l {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-r {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tel {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-triangle-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-yt {
  width: 1em;
  height: 1em;
  fill: initial;
}
